{% extends 'layouts/adminlte.twig' %}
{% block content %}
    <section
        class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <div id="infoMessage">{{ message|striptags }}</div>
                </h3>
            </div>
            <div class="box-body">

                <table class="table table-bordered table-striped" id="table-default">
                    <thead>
                        <tr>
                            <th>{{ lang('index_fname_th') }}</th>
                            <th>{{ lang('index_lname_th') }}</th>
                            <th>{{ lang('index_email_th') }}</th>
                            <th>{{ lang('index_groups_th') }}</th>
                            <th>{{ lang('index_status_th') }}</th>
                            <th>{{ lang('index_action_th') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    {% for group in user.groups %}
                                        <a href="{{base_url()}}auth/edit_group/{{group.id}}">{{group.name}}</a>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if (user.active) %}
                                        <a href="{{base_url()}}auth/deactivate/{{user.id}}">{{lang('index_active_link')}}</a>
                                    {% else %}
                                        <a href="{{base_url()}}auth/activate/{{user.id}}">{{lang('index_inactive_link')}}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{base_url()}}auth/edit_user/{{user.id}}">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>{{ lang('index_fname_th') }}</th>
                            <th>{{ lang('index_lname_th') }}</th>
                            <th>{{ lang('index_email_th') }}</th>
                            <th>{{ lang('index_groups_th') }}</th>
                            <th>{{ lang('index_status_th') }}</th>
                            <th>{{ lang('index_action_th') }}</th>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <p>{{ anchor('auth/create_user', lang('index_create_user_link')) }}
                    |
                    {{ anchor('auth/create_group', lang('index_create_group_link'))}}</p>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

    </section>

{% endblock %}

{% block scripts %}
    <script>
        $('#table-default').DataTable();
    </script>
{% endblock %}
